<div class="nav clearfix">



    <ul>
        {{#foreach navigation}}
            <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></li>
        {{/foreach}}

    </ul>

    <ul class="nav-social">
        <li role="presentation">
            <a class="nav-icon icon-facebook" href="https://www.facebook.com/bubbleroad/"></a>
        </li>
        <li role="presentation">
            <a class="nav-icon icon-twitter" href="https://twitter.com/bubbleroadgames/"></a>
        </li>
        <li role="presentation">
            <a class="nav-icon icon-feed" href="{{@blog.url}}/rss/"></a>
        </li>
    </ul>


</div>
